.type-name-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    display: flex;
    justify-content: center;
    animation: appear 0.5s ease-in-out;
    .type-name__wrapper {
        width: 600px;
        height: 200px;
        display: flex;
        background-color: var(--bg-color);
        padding: 10px 20px;
        align-items: center;
        border-radius: 10px;
        flex-direction: column;
        label {
            font-size: 1.8rem;
            font-weight: 600;
            margin-top: 20px;
        }
        .type-name__form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            input {
                height: 50px;
                width: 100%;
                padding: 0 10px;
            }
            button {
                font-size: 1.8rem;
                font-weight: 600;
                padding: 30px 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
