.mobile-searchbar-container {
    position: fixed;
    inset: 0;
    z-index: 10000;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    @media screen and (max-width: 768px) {
        display: block;
    }
    .search-container {
        margin-top: 10%;
        .after-search-input {
            svg {
                color: #fff;
            }
        }
    }
}
