.change-password-wrapper {
    width: 80%;
    .input-wrapper {
        width: 100%;
        input {
            padding: 8px 10px;
            width: 100%;
            margin-bottom: 10px;
            border-radius: 4px;
        }
    }
    .change-pwd-button {
        background-color: var(--outline-input-color);
        padding: 10px;
        text-align: center;
        cursor: pointer;
        border-radius: 4px;
        font-weight: 700;
        &:hover {
            background-color: rgb(38, 0, 255);
            color: #fff;
        }
    }
    .message {
        text-align: center;
        word-break: break-all;
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 10px;
        &.error {
            color: var(--error-color);
        }
        &.notify {
            color: var(--success-color);
        }
    }
}
