.react-lightbox {
    z-index: 11111 !important;
}

.yarl__toolbar {
    right: 20px !important;
    .yarl__button {
        margin-left: 4px;
    }
}

.yarl__button.yarl__navigation_next {
    right: 30px !important;
}
